body {
  padding: 0;
  margin: 0;
  background-color: #d6c08d;
  text-align: center;
  box-sizing: border-box;
}
.container {
  margin: 50px auto;
  width: clamp(300px, 55%, 800px);
  background-color: #eeead9;
  border-radius: 10px;
  padding: 20px;
}
h1 {
  color: #4a3b32;
  margin-bottom: 0;
}
.below-p {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 16px;
  color: #4a3b32;
}
input {
  padding: 10px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border: 1px solid #7a6e65;
  border-radius: 5px;
  font-size: 16px;
}
button {
  padding: 0.6rem;
  border: none;
  background-color: #4a3b32;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.25s ease-in-out;
}
button:hover {
  transform: translateY(-3px);
}
::placeholder {
  color: #4a3b32;
  padding-left: 2px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 80px;
  row-gap: 10px;
  column-gap: 2px;
  justify-content: center;
}

.todo-grid {
  margin-top: 10px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 80px;
  row-gap: 10px;
  column-gap: 20px;
  justify-content: center;
}

.java-par {
  text-align: left;
  padding: 0;
  margin: 0;
}

.java-btn-delete {
  background-color: darkred;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
}
.footie {
  margin-top: 40px;
}

.todo-counter {
  margin: 10px auto;
  background-color: #d6c08d;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  max-width: 100%;
  font-size: 13px;
}
